#contact {
    margin-top: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;
  }
  
  #contact h2 {
    font-size: 5vw;
    text-align: center;
    line-height: 100%;
  }
  
  #contact a {
    font-size: 2.5vw;
    border: 1px solid var(--secondary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 0.5rem 2px black;
    transition: 0.5s;
    opacity: 0.8;
  }
  
  #contact a:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  @media (prefers-color-scheme: light) {
    #contact a {
      background-color: var(--primary);
      color: var(--secondary);
      border: 1px solid var(--secondary);
    }
  }